@import url(https://fonts.googleapis.com/css?family=Climate+Crisis:regular);
h1{font-family: Climate Crisis; color: #496ddb; font-size: 3em; text-align: center;}

p{font-family: Verdana, Geneva, Tahoma, sans-serif; color: #9E2A2B; font-size: 0.9em;}

.ingress{font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em;}